
   <html>
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">

  <%= image_tag "about/1.jpg" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Humble Beginnings was an American pop punk band from New Jersey. While never gaining large-scale success, many of the band's members went on to mainstream success with other outfits.

Formed in 1996, Humble Beginnings originally consisted of Chris Delvecchio, Joshua Scott-Dicker, and Gabe Saporta. Their first release was a five-song demo cassette tape. At one point Eben D'Amico, former long-time bassist of Saves the Day, served as the band's bassist.

On September 29, 2010 it was announced that Humble Beginnings would perform two reunion shows in NJ. One at Maxwell's and one at The Court Tavern on November 19 and 20.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">

  <%= image_tag "about/2.jpg" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is a list of aircraft manufacturers sorted alphabetically by International Civil Aviation Organization (ICAO)/common name. It contains the ICAO/common name, manufacturers name(s), country and other data, with the known years of operation in parentheses. The ICAO names are listed in bold. Having an ICAO name does not mean that a manufacturer is still in operation today, just that some of the aircraft produced by that manufacturer are still flying.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">

  <%= image_tag "about/3.jpg" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Full service (radio format), a wide range of programming.A level of hospitality or comprehensivenes.A full-service restaurant, where waiters take food orders from customers seated at tables.A hotel that offers full standardized industry amenities.A car wash where attendants wash the interior as well as the exterior of vehicles.A filling station that pumps fuel, washes windshields and checks vehicle fluid levels.A rest area that offers a gas station, food, rest rooms and other amenities for travelers.A code word or euphemism for prostitution
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="about/4.jpg" alt="">
  <%= image_tag "about/4.jpg" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An economic expansion is an increase in the level of economic activity, and of the goods and services available. It is a period of economic growth as measured by a rise in real GDP.[1] The explanation of fluctuations in aggregate economic activity between economic expansions and contractions is one of the primary concerns of macroeconomics.

Typically an economic expansion is marked by an upturn in production and utilization of resources. Economic recovery and prosperity are two successive phases of expansion. Expansion may be caused by factors external to the economy, such as weather conditions or technical change, or by factors internal to the economy, such as fiscal policies, monetary policies, the availability of credit, interest rates, regulatory policies or other impacts on producer incentives. Global conditions may influence the levels of economic activity in various countries.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</html>
